.navbar {
  background-color: black;
  margin-top: 1rem;
}

.navbar a.active {
  background-color: red;
}

.navbar a {
  padding: 2rem 3rem;
  color: white;
  text-decoration: none;
  display: inline-block;
  font-size: 2rem;
}

.home h1 {
  font-size: 4rem;
  margin: 3rem;
}
.home h3 {
  font-size: 2rem;
}
